*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #00d1ff;
}

h1{
    font-size: 30px;
    color: #2d6cdf;
}